In [6]:
cars = ['bugati', 'ferrari', 'lamborghini', 'tesla', 'porsche']

for car in cars:
    if car == 'bugati':
        print(car.upper())
    else:
        print(car.title())

BUGATI
Ferrari
Lamborghini
Tesla
Porsche

In [8]:
age=18

In [9]:
age==18

True

In [10]:
age<21

True

In [11]:
age>21

False

In [13]:
age<=21

True

In [14]:
age>=21

False

In [17]:
# Example 1: Basic if-else statement
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

In [20]:
grade = 89
if grade >=90:
    print("Grade A")
elif grade >=80:
    print("Grade B")
elif grade >=70:
    print("Grade C")
else:
    print("Grade D")

Grade B

In [25]:
# Example 3: Nested if-else statements
x = 5
y = -10

if x > 0:
    if y > 0:
        print('both x and y is positive')
    else:
        print('x is positive but y is negative')
else:
    print('x is not positive')

x is not positive

In [32]:
# Example 4: Using the ternary conditional operator
age = 20
status = "minor" if age<18 else 'adult'
print("Status:", status)

Status: adult